*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    background-color: #4377A7;
    padding: 1.3rem;
    color: #323232;
}
.container{
    display: grid;
    grid-template-areas: 
    'main right-top'
    'main right-bot' ;
    grid-gap: 20px;
}
.main{
    grid-area: main;
    background-color: #fcfcfc;
    padding: 1.3rem;
    text-align: center;
}
h1{
    font-size: 50px;
    color: #4377A7;
}
.title{
    text-transform: uppercase;
    opacity: 0.8;
    letter-spacing: 3px;
    font-size: 15px;
    margin-bottom: 10px;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 15px solid transparent;
}
img:hover{
    transform:scale(1.25);
    }
h4{
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    text-align: center;
    padding: 0.5rem;
}
.header{
    letter-spacing: 4px;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 1.3rem;
}
i{
    font-size: 25px;
    opacity: 0.8;
    margin-bottom: 5px;
}
.contact-info{
    opacity: 0.8;
}
li{
    list-style: none;
    margin-bottom: 10px;
}
.educ, .expertise{
    padding: 1.3rem;
}
.degree{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}
.degree-info{
    font-style: italic;
    opacity: 0.8;
}
.right-top{
    grid-area: right-top;
    background-color: #fcfcfc;
    padding: 1.3rem;
}
.right-bot{
    grid-area: right-bot;
    background-color: #fcfcfc;
    padding: 1.3rem;
}
.job{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.job-info{
    text-align: center;
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 10px;
}
.text{
    margin-bottom: 10px;
}